.sub {
    font-weight: bold;
}
.form-pai {
    display: flex;
    justify-content: center;    /*centraliza horizontalmente */ 
    align-items: center;        /*centraliza verticalmente */
    height: 100vh;              /*ocupa toda a altura da tela */
    background: #f0f0f0;      /*so para visualizar */
}

.form-filho {
    padding: 20px;
    width: 85vw;
    height: 105vh;
    background: #ffffffee;
}